#object-list-container {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;

  width: 260px;
  height: 100vh;
  padding-top: 61px;
  padding-bottom: 5px;
  overflow-y: auto;

  background-color: var(--secondary-color);
  border-right: solid 1px var(--tertiary-color);
}

#dev-box {
  left: 0;
  bottom: 0;

  width: 100%;
  height: fit-content;
  margin-top: 5px;
  padding: 16px 16px 16px 16px;
  background-color: var(--secondary-color);
  border-top: solid 1px var(--tertiary-color);

  font-size: x-small;
}

.object-list .object-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.object-list .list {
  padding: 6px 16px;
  border: solid 1px var(--secondary-color);

  cursor: pointer;
}

.object-list .list:hover {
  border: solid 1px var(--accent-color);
}

.object-list .object-item {
  padding-left: 40px;
}

.object-list .object-item.selected {
  border: solid 1px var(--accent-color);
}

.object-list .point-item {
  padding-left: 60px;
}

.object-list .point-item.selected {
  border: solid 1px var(--accent-color);
}
