.property-bar-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 260px;
  height: 100vh;
  padding-top: 56px;
  overflow-y: auto;

  background-color: var(--secondary-color);
  border-left: solid 1px var(--tertiary-color);
}

.property-bar-container .property-container {
  display: none;
}

.property-bar-container .property-container.active {
  display: block;
}

.property-bar-container .property {
  width: 100%;
  height: fit-content;
  padding: 16px;
  border-bottom: solid 1px var(--tertiary-color);

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.property-bar-container .color-input {
  width: 100%;
  height: fit-content;

  display: flex;
  align-items: center;
  gap: 8px;
}

.property-bar-container .color-input input {
  cursor: pointer;
}

#canvas-color-input,
#shape-color-input,
#edit-color-input {
  background-color: transparent;
  border: none;
  border-radius: 3px;
}

.label-value {
  width: fit-content;
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  padding-left: 8px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.label-value:hover {
  border: 1px solid var(--tertiary-color);
}

.label-value input {
  width: 60px;
  height: 30px;
  padding: 0 8px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.label-value img {
  width: 12px;
  height: 12px;
}

.label-value label {
  width: 15px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: left;
}
